<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Login</h3>
        <label for="username"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="password1"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password1" required>
        <button type="submit">Login</button>
    </form>
      <p>Don't have an account?</p>
      <button>Signup Now</button> 
      <! -- link to signup page -- >
</body>
</html>